.menuBotones{
    display: flex;
    background-color: #333;
    padding: 5px 0;
    justify-content: space-around;
    margin: 15px auto;
}

.botones{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
}

.registro{
    background-color: #4bcfffd2;
    border-radius: 5px;
}